<?xml version="1.0" encoding="UTF-8"?>
<?define ProductName = "LiveLOOK Addin" ?>
<?define Manufacturer = "Interactive Intelligence" ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="$(var.ProductName)" Language="1033" Version="!(bind.FileVersion.ININ.Alliances.LiveLOOKAddin.dll)" Manufacturer="$(var.Manufacturer)" UpgradeCode="A741F07B-4394-4EFE-9CBC-3F9D60EAAC68">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

    <!--Directory Structure-->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="ManufacturerFolder" Name="$(var.Manufacturer)">
          <Directory Id="IcUserAppsFolder" Name="ICUserApps">
            <Directory Id="INSTALLFOLDER" Name="Addins" />
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <!--Add the Product Features (Shortcuts and Components)-->
    <Feature Id="ProductFeature" Title="$(var.ProductName)" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>

    <UI>
      <UIRef Id="WixUI_InstallDir" />
      <UIRef Id="WixUI_ErrorProgressText" />
    </UI>

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <Property Id="ARPPRODUCTICON" Value="ininlogo.ico" />

    <WixVariable Id="WixUIBannerBmp" Value="banner.png" />
    <WixVariable Id="WixUIDialogBmp" Value="dialog.png" />
    <WixVariable Id="WixUILicenseRtf" Value="license.rtf" />

    <Icon Id="ininlogo.ico" SourceFile="ininlogo.ico"/>
  </Product>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="ProductComponent" Guid="3B118237-40D7-4D64-A478-11EBFF515D37">
        <File Id="ININ.Alliances.LiveLOOKAddin.dll" Name="ININ.Alliances.LiveLOOKAddin.dll" Source="$(var.LiveLOOKAddin.TargetDir)\ININ.Alliances.LiveLOOKAddin.dll" Vital="yes" KeyPath="no" DiskId="1"/>
        <File Id="ININ.Alliances.LiveLOOKAddin.pdb" Name="ININ.Alliances.LiveLOOKAddin.pdb" Source="$(var.LiveLOOKAddin.TargetDir)\ININ.Alliances.LiveLOOKAddin.pdb" Vital="yes" KeyPath="no" DiskId="1"/>
        <File Id="Newtonsoft.Json.dll" Name="Newtonsoft.Json.dll" Source="$(var.LiveLOOKAddin.TargetDir)\Newtonsoft.Json.dll" Vital="yes" KeyPath="no" DiskId="1"/>
        <File Id="WpfConfiguratorLib.dll" Name="WpfConfiguratorLib.dll" Source="$(var.LiveLOOKAddin.TargetDir)\WpfConfiguratorLib.dll" Vital="yes" KeyPath="no" DiskId="1"/>
        <File Id="WpfConfiguratorLib.pdb" Name="WpfConfiguratorLib.pdb" Source="$(var.LiveLOOKAddin.TargetDir)\WpfConfiguratorLib.pdb" Vital="yes" KeyPath="no" DiskId="1"/>

      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>


